services:
  satisfactory-server:
    image: ghcr.io/planetary-server-manager/planet-satisfactory:latest
    container_name: satisfactory-server
    user: 1000:1000
    ports:
      - 7777:7777/tcp
      - 7777:7777/udp
    volumes:
      - {SAVE DIR}:/home/ubuntu/.config/Epic/FactoryGame/Saved/SaveGames
      - {BACKUP DIR}:/backups
    restart: unless-stopped